{% extends 'base.html.twig' %}

{% block title %}Contents of {{ shoplist.name }}{% endblock %}

{% block body %}
<h2>contents of <h1>{{ shoplist.name }}</h1></h2>
<table>
	{% for buydetail in buydetails %}
		<tr>
			<td>{{ buydetail.product.id }}</td>
			<td>{{ buydetail.product.name }}</td>
			<td>
				<form
					method="POST"
					action="{{ path('buydetail-remove', {'shoplist_id': shoplist.id, 'product_id': buydetail.product.id}) }}">
					<button type="submit">remove</button>
				</form>
			</td>
			<td>
				<form
					method="POST"
					action="{{ path('buydetail-toggle', {'shoplist_id': shoplist.id, 'product_id': buydetail.product.id}) }}">
					<button type="submit">mark</button>
				</form>
			</td>
			{% if buydetail.marked %}
			<td>IS</td>
			{% endif %}
		</tr>
	{% else %}
			<li>Nothing in this list</li>
	{% endfor %}
</table>

<a href="{{ path('product-create', {'shoplist_id': shoplist.id}) }}">create</a>
<a href="{{ path('buydetail-select', {'shoplist_id': shoplist.id}) }}">select add</a>
<a href="{{ path('buydetail-multi', {'shoplist_id': shoplist.id}) }}">multi add</a>

{% endblock %}
