{% extends 'base.html.twig' %}

{% block title %}Contents of {{ shoplist.name }}{% endblock %}

{% block body %}
<h2>contents of <h1>{{ shoplist.name }}</h1></h2>
<table>
	{% for buydetail in buydetails %}
		<tr>
			<td>{{ buydetail.product.id }}</td>
			<td>{{ buydetail.product.name }}</td>
			<td>
				<form
					method="POST"
					action="{{ path('remove-buydetail', {'shoplist_id': shoplist.id, 'product_id': buydetail.product.id}) }}">
					<button type="submit">remove</button>
				</form>
			</td>
			<td>
				<form
					method="POST"
					action="{{ path('toggle-buydetail', {'shoplist_id': shoplist.id, 'product_id': buydetail.product.id}) }}">
					<button type="submit">mark</button>
				</form>
			</td>
			{% if buydetail.marked %}
			<td>IS</td>
			{% endif %}
		</tr>
	{% else %}
			<li>Nothing in this list</li>
	{% endfor %}
</table>

<a href="{{ path('shoplist-add-new', {'id': shoplist.id}) }}">add new</a>
<a href="{{ path('shoplist-add-select', {'id': shoplist.id}) }}">select new</a>
<a href="{{ path('shoplist-add-many', {'id': shoplist.id}) }}">add many</a>

{% endblock %}
